.basic-container {
  margin: 20px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-details > li{
  font-size: 16px;
  padding: 10px;
  text-align: left;
}

.full-width-table {
  width: 100%;
}

